{
    "RootNamespace": "SimpleFeedly",
    "Connections": [
        {
            "Key": "SimpleFeedlyConn",
            "ConnectionString": "Data Source=JINPC\\MSSQL2017; Initial Catalog=SimpleFeedly;user=jindev_write;password=admin;Connection Timeout=120;",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.RssFeedItems",
                    "Identifier": "RssFeedItems",
                    "Module": "Rss",
                    "ConnectionKey": "SimpleFeedlyConn",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.RssChannels",
                    "Identifier": "RssChannels",
                    "Module": "Rss",
                    "ConnectionKey": "SimpleFeedlyConn",
                    "PermissionKey": "Administration:General"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\Src\\SimpleFeedly.Web\\SimpleFeedly.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}