@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Rss.Blacklists.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SimpleFeedly.Rss.BlacklistsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>