<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.4.1" targetFramework="net462" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net462" />
  <package id="Common.Logging.NLog41" version="3.4.1" targetFramework="net462" />
  <package id="DatabaseMigrateExt" version="2.5.0" targetFramework="net462" />
  <package id="FluentCommandLineParser" version="1.4.3" targetFramework="net462" />
  <package id="FluentMigrator" version="2.0.0" targetFramework="net462" />
  <package id="FluentMigrator.Abstractions" version="2.0.0" targetFramework="net462" />
  <package id="FluentMigrator.Extensions.SqlAnywhere" version="2.0.0" targetFramework="net462" />
  <package id="FluentMigrator.Extensions.SqlServer" version="2.0.0" targetFramework="net462" />
  <package id="FluentMigrator.Runner" version="2.0.0" targetFramework="net462" />
  <package id="FluentMigrator.Runner.Core" version="2.0.0" targetFramework="net462" />
  <package id="FluentMigrator.Runner.Db2" version="2.0.0" targetFramework="net462" />
  <package id="FluentMigrator.Runner.Firebird" version="2.0.0" targetFramework="net462" />
  <package id="FluentMigrator.Runner.Hana" version="2.0.0" targetFramework="net462" />
  <package id="FluentMigrator.Runner.Jet" version="2.0.0" targetFramework="net462" />
  <package id="FluentMigrator.Runner.MySql" version="2.0.0" targetFramework="net462" />
  <package id="FluentMigrator.Runner.Oracle" version="2.0.0" targetFramework="net462" />
  <package id="FluentMigrator.Runner.Postgres" version="2.0.0" targetFramework="net462" />
  <package id="FluentMigrator.Runner.Redshift" version="2.0.0" targetFramework="net462" />
  <package id="FluentMigrator.Runner.SqlAnywhere" version="2.0.0" targetFramework="net462" />
  <package id="FluentMigrator.Runner.SQLite" version="2.0.0" targetFramework="net462" />
  <package id="FluentMigrator.Runner.SqlServer" version="2.0.0" targetFramework="net462" />
  <package id="FluentMigrator.Runner.SqlServerCe" version="2.0.0" targetFramework="net462" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net462" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net462" />
  <package id="NLog" version="4.1.2" targetFramework="net462" />
  <package id="System.Configuration.ConfigurationManager" version="4.7.0" targetFramework="net462" />
  <package id="System.Data.SqlClient" version="4.8.1" targetFramework="net462" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net462" />
  <package id="System.Security.Permissions" version="4.7.0" targetFramework="net462" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net462" />
</packages>