@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Rss.RssFeedItems.EntityPlural");
}
<style type="text/css">
    html {
        scroll-behavior: smooth;
    }

    .card-container .card-item {
        height: 180px
    }

    .view-switch {
        margin-top: -11px
    }

    .card-container-height-auto {
        height: auto !important;
    }

    .slick-pane-right {
        position: relative !important;
    }
</style>

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SimpleFeedly.Rss.RssFeedItemsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>